{% load static %}
<html>
    <head>
        
        </head>
        <body>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}"
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first" style='padding:10px;'>
      <h1>QR CODE Generator</h1><br/><br/>
      <p>Enter any combination of letters,numbers or symbols</p>
    </div>

{% include 'qr/form.html' %}


  </div>
</div>

            </body>
    </html>